.pagination.with-shadow {
  .pagination-link {
    background-color: white;
    box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.5) !important;
  }

  .pagination-previous,
  .pagination-next {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(128, 128, 128, 0.25) !important;
  }
}

.pagination-next:hover,
.pagination-link:hover,
.pagination-previous:hover {
  color: white;
  background-color: $primary !important;
}

.pagination-link.is-current {
  background: $primary !important;
  border-color: $primary !important;
}
