html,
body {
    width: 100%;
    height: 100%;
    background: #fafafa;
}

.content-section {
    padding-top: 95px !important;
}

.navbar {
    box-shadow: 0px 1px 4px grey;
}

.navbar-item:hover,
.navbar-link:hover {
    color: hsl(171, 100%, 41%) !important;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: hsl(171, 100%, 41%) !important;
}

.left-nav-container {
    margin-top: 8px;
    color: grey;
}

.left-nav-icon {
    margin-right: 5px;
}

.text-main-color {
    color: #9c27b0;
}

.card-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.icon-in-form {
    font-size: 19px;
}
