// Use the Karla font
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

#post-header {
  color: grey;
}

#post-author-avatar {
  height: 48px;
  border-radius: 50%;
  vertical-align: top;
}

#post-author-username {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 20px;
}

#post-divider {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: grey;
  margin: 0px 4px 3px;
  border-radius: 50%;
}

.post-misc {
  margin-right: 10px;
}

#post-title {
  color: black;
  padding: 15px;
  margin: 10px 0px;
  font-size: 20px;
  border-radius: 4px;
  background: rgba(187, 250, 242);
}

#post-body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  word-spacing: 2px;
  line-height: 200%;
  margin-bottom: 15px;
}

.post-image {
  max-width: 120px;
  margin-right: 9px;
  margin-bottom: 9px;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
}
